<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="93c9688c-b470-4158-b57a-e629b6aa30d1" Publisher="CN=Andrei" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Transhipment.TestTarget</DisplayName>
    <PublisherDisplayName>Andrei</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Transhipment.TestTarget.App">
      <VisualElements DisplayName="Transhipment.TestTarget" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Transhipment.TestTarget" ForegroundText="light" BackgroundColor="#3CB371">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#3CB371" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>http://schema.org/GeoCoordinates</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>